@keyframes fade-feature {
    to {
        opacity: 0.94;
    }
}

@keyframes fade-icons {
    to {
        opacity: 1;
    }
}

@keyframes fade-logo {
    to {
        opacity: 0.3;
    }
}

@keyframes fade-title {
    to {
        opacity: 1;
    }
}

@keyframes fade-widget {
    to {
        opacity: 0.7;
    }
}

@media ( min-width: 1025px ) {

    @media ( pointer: fine ) and ( hover: hover ) {

        @keyframes fade-logo {
            to {
                opacity: 0.3;
            }
        }
    }
}