html, body {
    height: 100vh;
    width: 100vw;
    background-color: #080808;
    background: url( "../image/studio.png" ) no-repeat, linear-gradient(90deg, rgba( 26, 26, 26, 1 ) 0%, rgba( 8, 8, 8, 1 ) 50%, rgba( 26, 26, 26, 1 ) 100% );
    background: url( "../image/studio.png" ) no-repeat, #{'linear-gradient( 90deg, hsl(0deg 4% 11%) 0%, hsl(0deg 3% 9%) 13%, hsl(0deg 2% 7%) 25%, hsl(0deg 1% 5%) 37%, hsl(0deg 0% 3%) 50%, hsl(0deg 1% 5%) 63%, hsl(0deg 2% 7%) 75%, hsl(0deg 3% 9%) 87%, hsl(0deg 4% 11%) 100% )'};
    background-size: cover;
    color: rgba( 255, 255, 255, 0.9 );
    font: normal normal 700 1.6rem/1.168em -apple-system, BlinkMacSystemFont, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, sans-serif;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.0004 );
    -ms-text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.0004 );
    -o-text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.0004 );
    -webkit-text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.0004 );
    text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.0004 );
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    backface-visibility: hidden;
    scroll-behavior: smooth;
    overflow: hidden;
    height: var( --height );
    width: var( --width );
    -webkit-app-region: drag;
}