@font-face {
    font-family: 'Posterama';
    src: url('../font/Posterama.eot');
    src: local('Posterama'), local('Posterama'),
        url('../font/Posterama.eot?#iefix') format('embedded-opentype'),
        url('../font/Posterama.woff2') format('woff2'),
        url('../font/Posterama.woff') format('woff'),
        url('../font/Posterama.ttf') format('truetype'),
        url('../font/Posterama.svg#Posterama') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}