:-moz-placeholder {
    color: rgba( 255, 255, 255, 0.9 );
}

::-moz-placeholder {
    color: rgba( 255, 255, 255, 0.9 );
}

:-ms-input-placeholder {
    color: rgba( 255, 255, 255, 0.9 );
}

::-webkit-input-placeholder {
    color: rgba( 255, 255, 255, 0.9 );
}

:placeholder-shown {
    color: rgba( 255, 255, 255, 0.9 );
}

::placeholder {
    color: rgba( 255, 255, 255, 0.9 );
}